target/classes/com/animated/octo/eureka/demo/DemoApplication.class
target/classes/com/animated/octo/eureka/demo/InputSOATest.class
target/classes/com/animated/octo/eureka/demo/ObjectFactory.class
target/classes/com/animated/octo/eureka/demo/OutputSOATest.class
target/classes/com/animated/octo/eureka/demo/package-info.class
target/classes/com/animated/octo/eureka/demo/config/WebServiceConfig.class
target/classes/com/animated/octo/eureka/demo/controller/BookController.class
target/classes/com/animated/octo/eureka/demo/controller/GreetingController.class
target/classes/com/animated/octo/eureka/demo/endpoint/WebServiceEndpoint.class
target/classes/com/animated/octo/eureka/demo/model/Author.class
target/classes/com/animated/octo/eureka/demo/model/Book.class
target/classes/com/animated/octo/eureka/demo/model/Rating.class
target/classes/com/animated/octo/eureka/demo/repository/AuthorRepository.class
target/classes/com/animated/octo/eureka/demo/repository/BookRepository.class
target/classes/graphql/schema.graphqls
target/classes/META-INF/sun-jaxb.episode
target/classes/wsdl/demo.wsdl
target/generated-sources/xjc/com/animated/octo/eureka/demo/InputSOATest.java
target/generated-sources/xjc/com/animated/octo/eureka/demo/ObjectFactory.java
target/generated-sources/xjc/com/animated/octo/eureka/demo/OutputSOATest.java
target/generated-sources/xjc/com/animated/octo/eureka/demo/package-info.java
target/generated-sources/xjc/META-INF/sun-jaxb.episode
target/test-classes/com/animated/octo/eureka/demo/DemoApplicationTests.class
